 body {
    margin: 0;
    padding: 0;
    display: block;
}

#wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;

}
#master-layout{
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 10000;
    margin-bottom: 0;
}

#about-future{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 0;
}

#about-future .about-future-box{
    width: 400px;
    height: 310px;
    background: no-repeat url("../img/about-future-box.png");
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    top: 25%;
}

#master-layout .work-layout{
    position: relative;
    width: 100%;
    min-height: 600px;
}

#master-layout .plant{
    width: 30%;
    display: block;
}

#work-1 img{
    position: absolute;
    right: 0;
}

#work-3 img{
    margin: 0 auto;
}

#work-4 img{
    margin: 0 auto;
}

#work-5 img{
    position: absolute;
    right: 0;
}

#work-6 img{
    position: absolute;
    left: 30%;
}

#work-8 img{
    margin: 0 auto;
}

.trophy-layout{
    width: 100%;
    height: 1000px;
    position: relative;
}
.trophy-layout img{
    position: absolute;
}

.trophy-box{
    width: 400px;
    height: 240px;
    background: no-repeat url("../img/trophy-box.png");
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    top: 25%;
    display: none;
}
#trophy-1{
    height: 1000px;
}
.trophy-small{
    right: 0;
    top: 0;
}

.rocket-right{
    right: 0;
    top: 100px;
}
.rocket-left{
    left: 0;
}

#trophy-2 .trophy-rock{
    left: 100px;
    top: 0px;
}

#about-me{
    width: 100%;
    text-align: center;
}
.about-me-box{
    width: 400px;
    height: 310px;
    background: no-repeat url("../img/about-me-box.png");
    background-size: 100%;
    margin: 0 auto;
    position: relative;
}

.about-me-box .rocket{

}

.earth{
    width: 70%;
    margin-top: 100px;
}
#bg-cloud{
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#bg-cloud img{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    display:block
}

#bg-star{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#bg-star img{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    display:block
}

